body{
    margin:0;
    background-image: url(..//img/pxfuel\ \(3\).jpg);
    background-position: center;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

/*Add a black background color to the top navigation*/
.topnav{
    background-color: #333;
    overflow: hidden;
   
    
}

/* style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
}

/*change the color of links on hover*/
.topnav a:hover{
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active{
    background-color: #040404;
    color: white;
}

/* Navigation */

nav {
    text-transform: uppercase;
    z-index: 8;
    position: fixed;
    width: 100%;
    padding-bottom: 0px;
    border-bottom:2px solid rgb(228, 84, 84) ;
   }
/*.reservation{
    display: none!important;
}*/

.right-nav {
    float:right;
    text-align: right;
    background-color: rgb(2, 1, 0);
    border-radius: 5px;
    border: 1px solid rgb(228, 84, 84); 
    position:relative;

}
   
/* pizza image */
#pizza-beer{
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

img{
position:absolute;
top:0;
left:0;
}

#logo{
width: 400px;
height: 400px;
position: relative;
padding-top: 40px;
padding-left: 10px;

}

#pizza-img{
    height: 130%;
    width: 100%;
    /*background: url('../img/pizza-beer-2.jpg') no-repeat center center;*/
    z-index: -1;
    background-size: cover;


    
    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
    }

.menu{
    text-transform: capitalize;
    color: white;
    overflow-wrap: break-word;

}

.menu h1{
    font-family: 'Lato', sans-serif;
    text-decoration: underline;
    font-size: 300%;
}
.menu  i {
    color: red;
}

.menu h2{
    text-align: center;
    padding-bottom: 3%;
    margin:0;
}

/* list styles */
ul {
    list-style: none;
    margin: 0;
    padding:0;
}
.starters {
    width: 48%;
    text-align: center;
    float: left;   
    margin-left:1%;
    margin-right:1%;
}

.mains {
    width: 48%;
    text-align: center;
    float:left;
    margin-left:1%;
    margin-right:1%;
}


.sides{
    text-align: center;
    background-color: #FA6B6B;
    font-family: 'Oswald', sans-serif;
    color: #050505;
    font-size: 28px;
    border-radius: 25px;
    width: 50%;
    margin: auto;
    clear:both;
    font-weight: bold;
}

.container{
    display:inline-block;
    padding-top:30px;
    width:100%;
    padding-bottom: 5px;
}
.sides h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    margin: auto;
    padding: 0%;
}

.sides h4 {
    word-spacing: 50px;
}

.sides p{
    word-spacing: normal;
    font-family: 'Oswald', sans-serif;
    margin: 0%;
    padding: 0%;
    font-size: 80%;
}

.drinks {
    padding-top: 30px;
    text-align: center;
    
}

.left-dessert{
width:33.33%;
text-align: center;
float:left;

}

.center-dessert{
width:33.33%;
text-align: center;
float:left;

}

.right-dessert{
width:33.33%;
text-align:center;
float:left;

}


@media screen and (max-width: 600px) {
    .center-dessert, .left-dessert, .right-dessert {
      width: 100%;
    }
  }

.desserts{
    width: 100%; 
    padding-top:30px;
    text-align: center;
    overflow: hidden;
}
.desserts p{
    margin:0;
}

.desserts h2{
    padding-top: 30px;
    text-align: center;
}
.desserts h3{
    padding-top:20px;
    padding-bottom: 10px;
}

.desserts li{
    padding:2px;
}



/* NEW MENU LIST STYLING */ /* ----------------- CHANGE THIS ------------ */
.starters p, h3{
    margin:0;
    
}
.starters li {
    padding-bottom: 15px;
}
.starters p{
    font-style: italic;
    max-width: 95%;
}


.mains p, h3{
    margin:0;
}
.mains li {
    padding-bottom: 15px;
}
.mains p{
    font-style: italic;
    max-width: 95%;
}

ul > span {
    font-style: italic;
    text-transform: lowercase;
}

ul > li {
    margin-bottom: 5px;
   /* font-weight: bold;*/
}

/* footer */

.site-footer{
    /*background-image: url(../img/footer-image.jpg);*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 2rem; /* consider changing, also footer height play around */
    display: block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)),url(../img/footer-image.jpg);

}

.social-parent{
    text-align: center;
    width:50%;
   /* margin-right:20%;*/
    float:right;
    }
    
.social-parent h2{
text-align: center;
color: #fafafa;
font-family: 'Oswald', sans-serif;
text-transform: uppercase;
text-align: center;
text-decoration: underline;
text-decoration-thickness: 1px;
font-size: 150%;
}

.social-networks > li{
    display: inline-block;
    text-align: center;
    padding: 0 5px;
}

.social-networks i{
    color: white;
    font-size: 200%;
}

footer{
    /*height: 450px; /* ORIGINAL IS 150px */
    padding:0;
    margin:0;
 }

 .wrapper{
    overflow: hidden;
    padding-top:10px;
 }
.left-contact{
    color: #ddd;
    font-size: large;
    font-family: 'Oswald', sans-serif;
    width:50%;
    text-transform: uppercase;
    text-align: center;
    float:left;
   /* margin-left:20%;*/
}

.left-contact + p {
    text-transform: uppercase;
    color: white;
    
}

#times div {
    color: #fafafa;
    width: 8%;
    height: 100px;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    height:auto;
    
}

#times {
    width:100%;
    text-align: center;


}

#times h1 {
    color: #fafafa;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    font-size: 150%;
   
}
#times h2 {
    color: #fafafa;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 125%;
}
#times h3 {
    color: #fafafa;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

#menu {
    text-align: center;
}




/* FORM */
form{
    width: 50%;  
    color: #fafafa;
    
}

.reservations{
    padding-left: 25%;
}
.input-style {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border-radius: 4px;
    margin-left: 1px;
    border: 2px solid #333;
    box-sizing: border-box;
}

.label-style{
    color:hsl(0, 22%, 90%);
    font-weight:300; 
    font-size: 20px;
}

.wrap {
   margin-bottom: 15px;
}


label {
    display: inline-block;
}

form h1{
    text-align: center;
}

header h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    text-align: center;
    background-color:rgb(111, 172, 238);
}

header p{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    background-color:#ad3e2a;
    font-weight: bold;
}

h2{
    font-family: 'Audiowide', cursive;
    font-size: 30px;
}

/*Gallery*/
#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
    position: relative;
}

#photos > img {
    width: 100%;
    position: relative;
    line-height: 0;
    display: block;
    height: 320px;
    
}

.video{
 margin: 0;
  padding:0;
  width: 100%;
  display:inline-block;
  clear:both;
  height: 200px;


}
.video video{
    width: 100%;
    padding:0;
    margin:0;
    object-fit: contain;
    clear:both;
    
    
}

.pizza-video{
    float:left;
    width: 25%;
    height: 90%;
    
}

.guiness-video{
    float:left;
    width: 25%;
    overflow: hidden;
    height: 100%;
    
}
.jager-video{
    float:left;
    overflow: hidden;
    width: 25%;
    height: 100%;
    
}
.salad-video{
    float:left;
    width: 25%;
    overflow: hidden;
    height: 100%;
    object-fit: contain;
    
 }
/* Media queries */

@media screen and (max-width: 600px) {
    #pizza-beer {
      max-width:100% ;
      max-height: 300px;
    }
    #logo{
        width: 100px;
        height: 100px;
        position: absolute;
        padding-top: 100px;
        padding-left: 10px;
            }
    .starters, .mains {
     width: 96%;
     }
     .video {
        width: 50%;
        columns: 2;
         }
    
  }
  /* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {
    #photos {
        column-count: 2;
    }
}

  @media screen and (max-width: 1200px) {
    #photos {
        column-count: 2;
    }

    #photos img{
        max-height: 200px;
    }

    #times div{
        width: 50%;
    }

    #times h2 {
        float:left;
        width:50%;
        margin:0;
        padding-right: 15px;
        box-sizing: border-box;
        text-align: left;
    }

    #times h3 {
        float:left;
        width:50%;
        margin: 0;
        padding-left: 15px;
        box-sizing: border-box;
        white-space: nowrap;
        text-align: left;
    }

    .sides{
width:100%;
    }
  }
